@import 'bxslider.css';
@import 'animate.css';
@import "reset.css";
@import "variables";
@import 'nib';
@import 'sprite';
@import 'mixins';

body 
  font-family: 'PT Sans Narrow', sans-serif;
  background: url(../images/bg.jpg) no-repeat top center fixed
.b-wrapper
  width 1274px 
  margin 0 auto
  padding-top 30px
  padding-bottom 30px
header 
  background: rgba(255, 255, 255, 0.89);
  border-radius(10px 10px 0 0)
  padding 30px 20px 0 20px
  position: relative
  &:after 
    content ''
    width 100%
    height 7px 
    box-shadow 0 0 16px rgba(0, 0, 0, 0.48);
    display block
    position absolute
    left 0px
    background: white
    bottom 0px
.section__delivery
  background: url(../images/bg2.png) no-repeat center
  margin-top 30px
  padding 20px 40px 50px 40px
  border-radius(10px)
  a 
    color white 
    font-size 24px
.header__logo
  img 
    width 100%
    height auto
.header__title
  color orange
  font-size 24px
  display block
  line-height 25px
.header__col
  padding 0 20px
.header__phone 
  font-size 21px
  color orange
  display block
.header__col_28
  width 28%
  padding-right 0px
.menu__item.menu__item_active
  background: url(../images/button-hover.png) no-repeat center
.jsTabs:last-child.active
  background: url(../images/last-button.png) no-repeat center
.jsTabs:first-child.active
  background: url(../images/first-button.png) no-repeat center
.jsTabs
  height 33px
  line-height 33px
  text-align: center
  &:last-child
    width 117px
    background: url(../images/last-button.png) no-repeat center
    &:hover
      background: url(../images/last-hover.png) no-repeat center
  &:first-child
    width 123px
    background: url(../images/first-button.png) no-repeat center
    &:hover
      background: url(../images/first-hover.png) no-repeat center
.menu__item
  display: inline-block
  background: url(../images/button.png) no-repeat center
  &:hover
    background: url(../images/button-hover.png) no-repeat center
  &:last-child 
    background: url(../images/last-button.png) no-repeat center
    &:hover
      background: url(../images/last-hover.png) no-repeat center
  &:last-child.menu__item_active
    background: url(../images/last-hover.png) no-repeat center
  &:first-child 
    background: url(../images/first-button.png) no-repeat center
    &:hover
      background: url(../images/first-hover.png) no-repeat center
    a 
      width: 122px;
  &:first-child.menu__item_active
    background: url(../images/first-hover.png) no-repeat center
.menu__link
  font-size 13px 
  color white
  width 117px
  text-align: center
  height 33px 
  text-transform: uppercase
  line-height 33px
  position: relative;
  left: -4px;
menu 
  text-align: center
  padding 0px
  position relative 
  top -7px
  margin 0px
section 
  background: #fcfafc
.section__title
  background: linear-gradient(to bottom, #ff8c1c 0%,#ffae04 99%);
  border-bottom-right-radius: 15px 60px;
  border-bottom-left-radius: 15px 60px;
  margin 0 5px
.title__h2
  font-size 40px 
  color white
  padding 13px 10px 7px 10px
  margin-left 50px
  text-transform: uppercase
.slider-wrapper 
  padding 10px
  img 
    width 100%
.video__link
  border 5px solid white
  border-radius 8px
  oveflow hidden
  trs()
  shadow()
  &:hover 
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    trs()
.section__video
  padding 35px 35px 120px 35px
  border-radius 0 0 10px 10px
.video__link
  margin 0 24px
  text-align: center
  position: relative
.video__element 
  font-size 30px 
  color white
  width 100%
  position absolute
  font-weight normal
  margin-top 5px
.toggle-menu
  display none
.button_next 
  &:before 
    content ''
    sprite($sprite-icon-3)
    display inline-block
    vertical-align: middle
    margin-right 5px
.button_cal 
  &:before 
    content ''
    sprite($sprite-icon-2)
    display inline-block
    vertical-align: middle
    margin-right 5px
.button_back
  &:before 
    content ''
    sprite($sprite-icon-1)
    display inline-block
    vertical-align: middle
    margin-right 5px
.section__controls
  background: linear-gradient(to top, #e1e1e2 0%,#f4f5f6 99%);
  margin 0 18px 20px 18px
  border-radius (0 0 30px 30px)
  padding 10px 46px
.content-wrapper
  padding 0 50px
.section__content
  border-radius 0 0 10px 10px
  padding-bottom 100px
.section_border
  position relative
  padding-bottom 40px
  &:after
    bottom 0px
    position absolute
    content ''
    height 10px 
    width 100%
    border-radius (5px)
    background: linear-gradient(to right, #fbc212 0%,#c891b7 99%);
    display block
.section_borders
  position relative
  &:after
    bottom 0px
    position absolute
    content ''
    height 10px 
    width 100%
    border-radius (5px)
    background: linear-gradient(to right, #fbc212 0%,#c891b7 99%);
    display block
  &:before 
    position absolute
    content ''
    height 10px 
    width 100%
    border-radius (5px)
    background: linear-gradient(to right, #fbc212 0%,#c891b7 99%);
    display block
    top 0px
.section__schedule
  height 1000px
  width 100%
.content
  padding 20px 0
.col__50 
  width 50%
.phone__icon
  sprite($sprite-icon-4)
.env__icon
  sprite($sprite-icon-6)
.home__icon
  sprite($sprite-icon-5)
.contacts
  padding 70px
.events-wrapper 
  padding 30px 50px
.events
  padding 0 20px
.contact__title
  color purple
  font-size 40px
  line-height 40px
.contact__phones 
  color grey 
  font-size 26px
.va-top 
  vertical-align top
.contact__phones_top 
  margin 8px 0
.contact__link
  font-size 23px 
  color grey 
  font-weight bold
  display block
  line-height 34px
.icons 
  margin-right 30px
.contact__row
  margin-bottom 30px
.col__right_71
  width 71%
.road 
  color grey 
  font-size 25px
  text-decoration: underline
  display: block
.contact__lists
  sprite($sprite-bg)
  margin-top 30px
.contact__lists
  padding-top 27px
  padding-left 50px
  li 
    margin 26px 0
    &:nth-child(2)
      position relative 
      top 5px
  p
    font-size 19px
    color #4c483e
    font-family bold 8pt Open Sans Condensed;
    span 
      font-weight bold
.col__text
  sprite($sprite-bg2)
.col__text_orange
  sprite($sprite-bg3)
.col__left_a
  position absolute
  right 0px
.event__link
  position relative
  width 80%
  box-shadow: 0 0 8px #B9B9B9;
  border-radius: 0 17px 17px 17px;
  overflow hidden
  trs()
  &:hover 
    box-shadow: 0 0 18px #505050;
    trs()
.col__text
  text-align: center
  padding-left 20px
  span
    color white
    display block 
.event__title 
  font-size 26px
  text-decoration underline 
  padding 36px 0 5px 0
.event__instructor
.event__name 
  font-size 18px
.event__prof 
  font-size 16px
  line-height 18px
.news__title 
  font-size 21px 
  color grey
  font-weight bold
  margin 0 0 20px 0
  a 
    color grey
.news__col
  margin 25px 0 0 0 
  padding 0 20px
  position relative
  p 
    font-size 21px
.news__actor
  color #cc95ab
  font-size 21px
  text-decoration: underline
.about__descr
  color grey 
  font-size 20px
.about__icon-1
  sprite($sprite-icon-7)
  margin-right 15px
.about__icon-2
  sprite($sprite-icon-8)
  margin-right 15px
.about__icon-3
  sprite($sprite-icon-9)
  margin-right 15px
.about__icon-4
  sprite($sprite-icon-10)
  margin-right 15px
.about__icon-5
  sprite($sprite-icon-11)
  margin-right 15px
.about__icon-6
  sprite($sprite-icon-12)
  margin-right 15px
.about__icon-7
  sprite($sprite-icon-13)
  margin-right 15px
.about__icon-8
  sprite($sprite-icon-14)
  margin-right 15px
.about__row
  margin 15px 0
.about__icons
  margin-top 20px
.enrol
  font-size 25px
  text-transform: uppercase
  text-decoration: underline 
  color purple
  display: block
  &:before
    content ''
    sprite($sprite-icon-15)
    display inline-block
    vertical-align: middle
    margin-right 15px
.enrol-img
  border-radius 33px 0 0 33px
  margin-bottom 10px
.icon-16
  sprite($sprite-icon-16)
  display block
.icon-17
  sprite($sprite-icon-17)
  display block
.icon-18
  sprite($sprite-icon-18)
  display block
.icon-19
  border-radius 50%
  border 2px solid purple
  padding 2px
  height 88px 
  width @height
  img 
    border-radius (50%)
    height 80px
    width @height
.enrol__text
  span 
    display block
    font-size 21px 
    color grey
    text-decoration: underline
.col__45
  width 45%
  padding-right 30px
  img 
    width 100%
    height auto
.col__55
  width 55%
.ved 
  text-decoration: underline
  color grey
  font-size 21px
.enrol__icons
  margin-right 20px
.enrol__date 
  margin-bottom 10px
.pad 
  margin-left 86px
.jsTabs
  color white 
  font-size 14px
  text-transform: uppercase
  cursor pointer
.events_reset
  padding-bottom 0px
.tabs 
  position: relative;
  top: -10px;
  text-align: right
.compl
  font-size 55px
  color grey
.label__span
  font-size 18px 
  font-weight bold
  color #7d8184
  width 130px
  text-align: right
  margin-right 30px
  vertical-align: top
.form__input
textarea
select
  border-radius (4px)
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  border none
  padding 10px 10px
  font-size 16px 
  font-family 'PT Sans Narrow', sans-serif;
.form__lable 
  display block
  margin-bottom 25px
  width 100%
.comment 
  background: linear-gradient(to right, #fefffe 0%,#f2e9d3 99%);
  border-radius 0 0 10px 10px
  box-shadow 0 0 8px rgba(0,0,0, 0.3)
  padding 40px
  padding-left 100px
  margin-top 35px
.col__left_76
  width 76%
.form__input_80
  width 80%
.form__input_75 
  width 75%
.input__button
  sprite($sprite-icon-19)
  background-color transparent
  border none
  cursor pointer
.label__button
  font-size 25px 
  color orange
  position: relative
  display inline-block 
  vertical-align: middle
  top 75px
  &:after 
    content 'Отправить'
    color #f7941e
    position absolute
    left 8px
    bottom -40px
    text-transform: uppercase
.form__area 
  height 300px
.col__right_24
  width 18%
  text-align: center
.label__button_reset 
  top -30px
.ost__comment
  font-size 25px 
  color purple
  text-transform uppercase
  width 150px
  text-align: center
  display: block
.icon-20
  display: block
  margin 0 auto 10px auto
  sprite($sprite-icon-20)
.comments__text
  color grey
  font-size 24px
  font-style italic
.col__left_67
  width: 67%;
.col__right_33
  width 33%
  text-align: center
.icon-wrapper
  width: 150px;
  margin 0 auto
.form__lael_33
  width 36%
  display: inline-block
  margin: auto;
  select
select 
  appearance: none;
.sel__button
  box-shadow 0 0 4px rgba(0,0,0, 0.3)
  background: linear-gradient(to top, #faaa19 0%,#fcda04 99%);
  border none
  border-radius (5px)
  font-size 16px
  color white
  padding 12px 10px
  cursor pointer
  width 280px
.select-wrapper 
  background: linear-gradient(to right, #fefffe 0%,#f2e9d3 99%);
  padding 30px 70px
  border-top 1px solid rgba(0,0,0, 0.1)
  border-bottom 1px solid rgba(0,0,0, 0.1)
  margin-left -70px
  margin-right -70px
  margin-top 40px
  margin-bottom 40px
.form__select
  width 85%
.form__select_100
  width 100%
.form__lael_28
  width 28%
  display inline-block
  margin 0px
.form__lael_33
  &:nth-child(2)
    select 
      width 89%
.comment__date
  text-align: right
  span
    font-size 14px 
    color grey
  a 
    color #d7722e
    font-size 14px
    text-decoration: underline
    margin-left 5px
    margin-right 10px
.comment__name
  font-size 24px 
  font-weight bold
  color #d7722e
.comment__text
  font-size 18px 
  font-style italic
  color grey
.comment__msg
  background: #ecdfc3
  border 1px solid #c3b190
  border-radius (5px)
  padding 30px 50px
  margin-top 5px
  position: relative
  &:before
    content ''
    position: absolute
    sprite($sprite-bg5)
    top -19px
    left 15px
    display block
    z-index 11
.align-left
  text-align left
.gallery
  padding-top 15px
.col__25
  width 24.5%
  margin-right 0.5%
  margin-bottom 0.5%
  img 
    width 100%
    height auto
    display block
  a 
    display block
.gallery-wrapper
  margin-top 10px
.author
  font-size 21px 
  color purple
  text-decoration: underline
  margin 0px
.page__img 
  img 
    width 100%
    height auto 
    margin-bottom 18px
    border-radius 0 0 30px 30px
.col__left_47
  width 38%
  margin-right 30px
  .event__link
    width 100%
.col__text_grey
  sprite($sprite-bg7)
  span
    color purple  
    text-decoration: underline
.article__text
  color #38383b
  font-size 18px
.col__right_53
  width 53%
  vertical-align: top
.more 
  font-size 18px
  color purple 
  text-decoration: underline
  margin-top 10px
.articles
  .section_border 
    padding-top 30px
    &:first-child
      padding-top 0px
.compl_purple 
  font-size 42px
  color purple
  display block
  line-height 40px
  margin-top 20px
.compl_reset
  line-height 50px
  margin 20px 0 20px 0
.orders
  background: linear-gradient(to right, #fefffe 0%,#f2e9d3 99%);
  border-radius 0 0 10px 10px
  box-shadow 0 0 8px rgba(0,0,0, 0.3)
  padding 40px 40px 70px 40px
  width 80%
  margin-top 20px
  span 
    color grey
    font-size 21px  
    display block
.order__n 
  margin 0 0 20px 0
  .col__left
    span
      width 60px
      border 2px solid white
      box-shadow 0 0 0 2px #f7941e
      height @width 
      line-height @width 
      color white
      text-align: center
      font-size 40px
      background #f7941e
      display inline-block
      border-radius (50%)
      margin-right 10px
.instruktor__img
  width 100%
  height auto 
  border-radius 25px 0 0 25px
.col__left_30
  width 30%
.col__right_70
  width 70%
  padding-left 30px
  vertical-align: top
.instruktor
  padding 0 20px
.instruktor-cours
  padding 50px 20px 0 20px
  .col__left_30
    width 45%
  .col__right_70
    width 55%
.power
  font-size 21px 
  color grey
  text-decoration: underline
  margin-left 20px
  margin-bottom 20px
.cours 
  margin-bottom 20px
.header__col_44
  width 44%
.header__col_25
  width 25%
.sandwitch
  width 28px
  height 28px
  top 8px
  bottom 0
  left 0
  right 0
  margin auto
  z-index 200
  > span
    width 28px
    height 3px
    background white
    border none
    border-radius 4px
    display block
    position relative
.sw-topper
  top 5px
  transition: transform 0.5s, top 0.2s
  display block 
.sw-bottom 
  top: 10px
  transition: transform 0.5s, top 0.2s
  transition-delay: 0.2s, 0s 
.sw-footer 
  top: 15px
  transition: all 0.5s
  transition-delay: 0.1s 
.sandwitch.active .sw-topper 
  background white
  top: 13px
  transform: rotate(-45deg) 
.sandwitch.active .sw-bottom 
  background white
  top: 10px
  transform: rotate(45deg) 
.sandwitch.active .sw-footer 
  background white
  opacity: 0
  top: 0
  transform: rotate(180deg)
// media query
@media(max-width 1274px)
  .b-wrapper 
    width 100%
  .section__col
    width 33%
    img 
      width 100%
      height auto
@media(max-width 1209px)
  .col__45
  .col__55
    display block
    width 100%
    margin-bottom 20px
    padding 0px
@media(max-width 1191px)
  .about__icons .col__50
    display block
    width 100%
@media(max-width 1189px)
  .header__col_25
    width 28%
@media(max-width 1085px)
  .form__input_80
  .form__input_75
    width 100%
  .label__span
    width 100%
    margin-right 4%
    margin-bottom 20px
  .col__right_24
    width 100%
    display block
  .label__button_reset
  .label__button
    top 0px 
    margin 20px 0
  .col__left_76
    width 100%
    display block
  .comment
    padding 30px
    .label__span
      display: block
      text-align: center
@media(max-width 1055px)
  .order__n
    text-align: center
    .col__left
      display block
      margin-bottom 20px
  .contacts > .col__50
    display block
    width 100%
  .sel__button
    width 83%
@media(max-width 1000px)  
  .menu__item
    display block 
    background: orange !important
    border-bottom 1px solid white
  menu 
    margin-left: -20px;
    margin-right: -20px;
  .menu
    position absolute
    z-index 1
    display none
    width 100%
    li:hover 
      background: #E43D09 !important;
  .menu.active 
    display block
  .toggle-menu
    display block
    border none
    background: orange
  .header__col
    display block
    width 100%
    text-align: center
    padding 0 20px
@media(max-width 990px)
  .col__25 
    width 49.5%
  .col__events
    width 360px
    margin 0 auto 20px auto
    display block
  .event__link
    width 100%
  .section__col 
    display block
    margin 0 auto 20px auto
    width 300px
@media(max-width 766px)
  .orders
    width 100%
  .compl_purple
    font-size 30px 
    text-align: center
  .col__right_70
    width 100% 
    display block
    padding 0px
    p
      font-size 20px
  .col__left_30
    display block
    width 100%
    img
      border-radius (50px)
      margin-bottom 20px
  .instruktor-cours
    .col__right_70
    .col__left_30 
      width 100%
      display block
      padding 0px
  .col__left_30
    width 100%
    display block
  .compl
    font-size 46px 
    display: block
    text-align: center
  .event__title
    font-size 21px
  .enrol
  .enrol__date
    text-align: center
  .enrol__icons
    margin 0px auto 20px auto !important
    display block 
    width 86px
  .col__left_47
    width 300px 
    margin 0 auto 20px auto
    display block
  .col__right_53
    display block
    width 100%
  .form__lael_28
    .sel__button
      width 100%
  .form__lael_28
  .form__lael_33
    display block
    width 100%
    margin-bottom 20px
    input 
    select
      width 100% !important
@media(max-width 693px)
  .select-wrapper
    margin-left -10px
    margin-right -10px
    padding-left 10px
    padding-right 10px
  .contact__title
    text-align: center
    font-size 25px
  .events
    padding 0px
  .title__h2
    font-size: 28px;
    margin 0px 
    text-align: center
  .events-wrapper
    padding 30px 10px
  .col__text
    width 184px
  .about__row
    text-align: center
    span 
      display: block
      margin 0 auto
@media(max-width 594px)
  .content__day
    text-align: center
    .radial 
      margin 0 auto 20px auto
  .col__left_67
  .col__right_33
    width 100%
    display block
    margin-bottom 20px
  .header__logo
    margin-bottom 15px
  .contacts
    text-align: center
    padding 10px
  .contact__lists
    width 100%
    background: none
    padding 0px
  .contact__row .col__left
    display block
    margin 0 auto
    text-align: center
    .icons
      margin 0 auto
@media(max-width 413px)
  .section__video
    padding-left 0px
    padding-right 0px
  .section__col
    width 320px
  .event__link
    width 100%
  .col__events
    width 100%
  .col__25
    width 100%