*
  box-sizing border-box
// Functions 
trs()
  transition ease-in-out .2s
// Colors
orange = #f1592a
purple = #c664a7
grey = #746f72
// Fonts
pt-sans = 'PT Sans', sans-serif;
// Static
.b-ib 
  display inline-block
.b-ib-wrapper
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 0;
.b-ib
  display: inline-block;
  vertical-align: middle;
span 
  display inline-block
a
  display inline-block
  text-decoration none
a > img 
  display bolck
.align__right
  text-align right
h1, h2, h3, h4, h5
  font-weight normal
shadow()
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.72);
.button
  font-size 13px 
  text-transform: uppercase
  color purple
  margin-right 30px
  span 
    vertical-align: middle
.radial
  border 3px solid purple
  border-radius (50%)
  width 90px
  height @width
  text-align center
  color purple
  margin-right 20px
  span 
    display block
    line-height 20px
.radial__date
  font-size 30px
  margin-top 15px
.radial__month
  font-size 15px
.radial__day
  font-size 16px
  font-weight bold
  text-transform: uppercase
.content__day
  margin-bottom 15px
.text_grey
  color grey
.text 
  font-size 16px
.content__date
  color purple
  font-size 16px
.col__link a 
  display block
.news 
  padding-top 10px