*
  box-sizing border-box
// Functions 
decor()
  text-decoration underline
  &:hover 
    text-decoration none
trs()
  transition ease-in-out .2s
// Colors
grey = #f8f8f8
g-border = #e7e6eb
green = #8ac200
link = #333333
s-grey = #777777
blue = #009bde
lime = #b4ffa3
briz = #a4e4ff
// Fonts
pt-sans = 'PT Sans', sans-serif;
// Buttons
button 
  border none 
  vertical-align middle
  cursor pointer 
  border none
  outline none
  background transparent
menu 
  padding 0px
  margin 0px
span 
  display inline-block
  vertical-align middle
  font-size 15px
  color link
a 
  text-decoration none
  color link
  display inline-block
h1, h2, h3, h4, h5, h6 
  color #444444
  font-weight normal
.text 
  font-size 14px
  line-height 19px
.button_green
  background green
  color white
  &:hover 
    trs()
    background: #6F9C00
.button_blue 
  background blue 
  color white
  &:hover 
    trs()
    background #0083BB;
.button
  height 40px 
  line-height @height
  padding 0 16px
  display inline-block
  border-radius (4px)
.cert__h2
  font-size 24px 
  color white
  margin 10px 0 25px 0
.about__cert
  background: green
  padding 20px 30px 30px 30px