include head.jade
body
  .b-wrapper
    include header.jade
    section.section__content
      .row.section__title
        h2.title__h2 Наши видущие
      .row.events-wrapper.b-ib-wrapper
        .section_border
          .events
            .col__events.col__50.b-ib
              a(href="").event__link
                .col__left.b-ib
                  .col__img
                    img(src="images/bg3.png", alt="")
                .col__right.b-ib.col__left_a
                  .col__text.col__text_orange
                    span.event__title Аника Сокольская
                    span.event__prof Энерготерапевт, <br> психолог,финалист <br> «Битвы Экстрасенсов»
            .col__events.col__50.b-ib
              a(href="").event__link
                .col__left.b-ib
                  .col__img
                    img(src="images/bg3.png", alt="")
                .col__right.b-ib.col__left_a
                  .col__text.col__text_orange
                    span.event__title Аника Сокольская
                    span.event__prof Энерготерапевт, <br> психолог,финалист <br> «Битвы Экстрасенсов»
    include footer.jade