include head.jade
body
  .b-wrapper
    include header.jade
    section.section__content
      .row.section__title
        h2.title__h2 Статьи
      .row.events-wrapper.b-ib-wrapper
        .articles
          .section_border
            .col__left.col__left_47.b-ib
              a(href="").event__link
                .col__left.b-ib
                  .col__img
                    img(src="images/bg7.jpg", alt="")
                .col__right.b-ib.col__left_a
                  .col__text.col__text_grey
                    span.event__title.event__title_purple ВЫ ЖИВЕТЕ ИЛИ РЕПЕТИРУЕТЕ?
            .col__right.col__right_53.b-ib
              p.article__text Дорогие друзья! За окном пока снежно, а мы хотим порадовать вас солнечными весенними новостями! 1 мая нашему тренинг-центру исполняется 3 года! мы растем, развиваемся и расширяем свои возможности! С удовольствием хотим предложим вам новые тренинги и семинары, которые не только раскроют ваш творческий потенциал, но помогут поддерживать и развивать себя на всех планах – физическом, эмоциональном, ментальном, духовном.
              a(href="").more Подробнее
          .section_border
            .col__left.col__left_47.b-ib
              a(href="").event__link
                .col__left.b-ib
                  .col__img
                    img(src="images/bg7.jpg", alt="")
                .col__right.b-ib.col__left_a
                  .col__text.col__text_grey
                    span.event__title.event__title_purple ВЫ ЖИВЕТЕ ИЛИ РЕПЕТИРУЕТЕ?
            .col__right.col__right_53.b-ib
              p.article__text Дорогие друзья! За окном пока снежно, а мы хотим порадовать вас солнечными весенними новостями! 1 мая нашему тренинг-центру исполняется 3 года! мы растем, развиваемся и расширяем свои возможности! С удовольствием хотим предложим вам новые тренинги и семинары, которые не только раскроют ваш творческий потенциал, но помогут поддерживать и развивать себя на всех планах – физическом, эмоциональном, ментальном, духовном.
              a(href="").more Подробнее
          .section_border
            .col__left.col__left_47.b-ib
              a(href="").event__link
                .col__left.b-ib
                  .col__img
                    img(src="images/bg7.jpg", alt="")
                .col__right.b-ib.col__left_a
                  .col__text.col__text_grey
                    span.event__title.event__title_purple ВЫ ЖИВЕТЕ ИЛИ РЕПЕТИРУЕТЕ?
            .col__right.col__right_53.b-ib
              p.article__text Дорогие друзья! За окном пока снежно, а мы хотим порадовать вас солнечными весенними новостями! 1 мая нашему тренинг-центру исполняется 3 года! мы растем, развиваемся и расширяем свои возможности! С удовольствием хотим предложим вам новые тренинги и семинары, которые не только раскроют ваш творческий потенциал, но помогут поддерживать и развивать себя на всех планах – физическом, эмоциональном, ментальном, духовном.
              a(href="").more Подробнее
    include footer.jade