include head.jade
body
  .b-wrapper
    include header.jade
    section.section__content
      .row.section__title
        h2.title__h2 Отзыв
      .row.events-wrapper.b-ib-wrapper
        .section_border
          .events
            span.compl Ваш отзыв принят
    include footer.jade