include head.jade
body
  .b-wrapper
    include header.jade
    section.section__content
      .row.section__title
        h2.title__h2 Галерея
      .row.events-wrapper.b-ib-wrapper
        .events.gallery
          .comment__date.align-left
            span Мероприятия:
            a(href="") Регулярная йога
            span Тренер:
            a(href="") Дарнара
          .gallery-wrapper
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
            .col__25.b-ib
              a(href="")
                img(src="images/bg5.jpg", alt="")
    include footer.jade