//- jade header.jade
header
  .row.b-ib-wrapper
    .header__col.b-ib
      a(href="index.html").header__logo
    .header__col.b-ib
      span.header__title Центр творческого развития 
      span.header__title и энергетических практик
    .header__col.b-ib.align__right.header__col_28
      a(href="tel:+79254464300").header__phone +7 925 446 43 00
      a(href="tel:+79037657949").header__phone +7 903 765 79 49
      a(href="mailto:info@sunme.ru").header__phone info@sunme.ru
  include menu.jade