include head.jade
body
  .b-wrapper
    include header.jade
    section.section__content
      .row.section__title
        h2.title__h2 Инструктор
      .row.events-wrapper.b-ib-wrapper
        .news.section_border
          .instruktor
            .col__left.col__left_30.b-ib
              img(src="images/bg8.jpg", alt="").instruktor__img
            .col__right.col__right_70.b-ib
              p.comments__text Дорогие друзья! За окном пока снежно, а мы хотим порадовать вас солнечными весенними новостями! 1 мая нашему тренинг-центру исполняется 3 года! мы растем, развиваемся и расширяем свои возможности! С удовольствием хотим предложим вам новые тренинги и семинары, которые не только раскроют ваш творческий потенциал, но помогут поддерживать и развивать себя на всех планах – физическом, эмоциональном, ментальном, духовном.
        .instruktor-cours
          .col__left.col__left_30.b-ib
            .cours
              span.power Танец женской силы
              .radial-wrapper
                .radial.b-ib
                  span.radial__date 25
                  span.radial__month сентября
                  span.radial__day пн
                .radial.b-ib
                  span.radial__date 25
                  span.radial__month сентября
                  span.radial__day пн
                .radial.b-ib
                  span.radial__date 25
                  span.radial__month сентября
                  span.radial__day пн
                .radial.b-ib
            .cours
              span.power Регулярная йога
              .radial-wrapper
                .radial.b-ib
                  span.radial__date 25
                  span.radial__month сентября
                  span.radial__day пн
                .radial.b-ib
                  span.radial__date 25
                  span.radial__month сентября
                  span.radial__day пн
            .cours
              span.power Питание
              .radial-wrapper
                .radial.b-ib
                  span.radial__date 25
                  span.radial__month сентября
                  span.radial__day пн
                .radial.b-ib
                .radial.b-ib
                .radial.b-ib
          .col__right.col__right_70.b-ib
            .cours
              span.power Мастер-класс «САКРАЛЬНОСТЬ ВОСТОЧНОГО ТАНЦА»
              .radial-wrapper
                .radial.b-ib
                  span.radial__date 25
                  span.radial__month сентября
                  span.radial__day пн
                .radial.b-ib
                  span.radial__date 25
                  span.radial__month сентября
                  span.radial__day пн
                .radial.b-ib
                  span.radial__date 25
                  span.radial__month сентября
                  span.radial__day пн
                .radial.b-ib
    include footer.jade