//-jade menu.jade
menu
  .row.b-ib-wrapper
    button.toggle-menu
      .sandwitch
        span.sw-topper
        span.sw-bottom
        span.sw-footer
    ul.menu
      li.menu__item
        a(href="about.html").menu__link О нас
      li.menu__item.menu__item_active
        a(href="schedule.html").menu__link Расписание
      li.menu__item
        a(href="events.html").menu__link Мероприятия
      li.menu__item
        a(href="actors.html").menu__link Наши видущие
      li.menu__item
        a(href="reviews.html").menu__link Отзывы
      li.menu__item
        a(href="articles.html").menu__link Статьи
      li.menu__item
        a(href="news.html").menu__link Новости
      li.menu__item
        a(href="kontacts.html").menu__link Контакты