include head.jade
body
  .b-wrapper
    include header.jade
    section.section__content
      .row.section__title
        h2.title__h2 Новости
      .row.events-wrapper.b-ib-wrapper
        .news
          .section_border
            .col__center.news__col
              h2.news__title 
                a(href="") Дорогие друзья!
              p.text.text_grey Приглашаем вас на регулярные занятия йогой с Татьяной Карповой! Занятия включают в себя инструменты йоги и кинезиологии. Это суставная гимнастика, крии (последовательности движений, соединенные с дыханием и/или определенными точками концентрации), асаны, пранаямы, медитации. Сбалансированные и мягкие комплексы упражнений направлены на восстановление двигательной активности всех суставов и позвоночника, на умение чувствовать свое тело и слышать себя, на восстановление и стабилизацию физического здоровья и психоэмоционального состояния в целом.
              .actor-wrapper.align__right
                a(href="").news__actor Ведущий: Татьяна Карпова
          .section_border
            .col__center.news__col
              h2.news__title 
                a(href="") Дорогие друзья!
              p.text.text_grey Приглашаем вас на регулярные занятия йогой с Татьяной Карповой! Занятия включают в себя инструменты йоги и кинезиологии. Это суставная гимнастика, крии (последовательности движений, соединенные с дыханием и/или определенными точками концентрации), асаны, пранаямы, медитации. Сбалансированные и мягкие комплексы упражнений направлены на восстановление двигательной активности всех суставов и позвоночника, на умение чувствовать свое тело и слышать себя, на восстановление и стабилизацию физического здоровья и психоэмоционального состояния в целом.
              .actor-wrapper.align__right
                a(href="").news__actor Ведущий: Татьяна Карпова
          .section_border
            .col__center.news__col
              h2.news__title 
                a(href="") Дорогие друзья!
              p.text.text_grey Приглашаем вас на регулярные занятия йогой с Татьяной Карповой! Занятия включают в себя инструменты йоги и кинезиологии. Это суставная гимнастика, крии (последовательности движений, соединенные с дыханием и/или определенными точками концентрации), асаны, пранаямы, медитации. Сбалансированные и мягкие комплексы упражнений направлены на восстановление двигательной активности всех суставов и позвоночника, на умение чувствовать свое тело и слышать себя, на восстановление и стабилизацию физического здоровья и психоэмоционального состояния в целом.
              .actor-wrapper.align__right
                a(href="").news__actor Ведущий: Татьяна Карпова
    include footer.jade