include head.jade
body
  .b-wrapper
    include header.jade
    section.section__content
      .row.section__title
        h2.title__h2 ВИДЫ ЖЕНСКИХ ПРОБЛЕМ В ОТНОШЕНИЯХ И ИХ ПРИЧИНЫ
      .row.events-wrapper.b-ib-wrapper
        .section_border
          .events.page
            .page__img
              img(src="images/bg6.jpg", alt="")
              a(href="").author Автор: Татьяна Карпова
        .section_border
          .col__center.news__col
            p.text.text_grey Приглашаем вас на регулярные занятия йогой с Татьяной Карповой! Занятия включают в себя инструменты йоги и кинезиологии. Это суставная гимнастика, крии (последовательности движений, соединенные с дыханием и/или определенными точками концентрации), асаны, пранаямы, медитации. Сбалансированные и мягкие комплексы упражнений направлены на восстановление двигательной активности всех суставов и позвоночника, на умение чувствовать свое тело и слышать себя, на восстановление и стабилизацию физического здоровья и психоэмоционального состояния в целом. <br><br>
            p.text.text_grey Татьяна — преподаватель йоги и йога-терапевт, специалист по тайскому массажу. Обучение и опыт: Международный Йога Университет (направления: хатха, крия йога, пранаяма, рита йога, кундалини-йога), гималайская йога в традиции Пайлот Бабы и суставная гимнастика, обучение и практика у Мастера Свами Имрам ГириДжи (крия йоги Бабаджи), йога Ильдара Ибрагимова (йога Высшего сознания)."Вы только начинаете свой путь в йоге и хотите мягкой и последовательной, но при этом действенной практики, которая будет укреплять ваше тело и успокаивать ум? Или у вас за плечами многолетняя практика, однако, вы чувствуете себя в тупике: практикуете, практикуете, а подвижек нет? Мы поможем вам разобраться, в чем дело, и даст эффективные инструменты для продвижения дальше". 
    include footer.jade