include head.jade
body
  .b-wrapper
    include header.jade
    section.section__content
      .row.section__title
        h2.title__h2 Рассписание
      .row.section__controls
        a(href="").button.button_back 
          span Назад <br> В рассписание
      .row.content-wrapper
        .content.section__schedule.section_borders
    include footer.jade